.container {
    width: 300px;
    height: 300px;
}

/***button***/
.btn { 
    color: white;
    font-weight: bold;
    background-color: #24ad98;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    transition-duration: 1s;
    transition-property: linear;
    
    
}

.btn:hover {
    color: #24ad98;
    background-color: white;
}






    



